<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
		</layout>

		<!--
		<filter class="org.apache.log4j.varia.StringMatchFilter">
		<param name="StringToMatch" value="bodyText"/>
		<param name="AcceptOnMatch" value="false"/>
		</filter>
		-->
		<!--
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
		<param name="LevelToMatch" value="TRACE#org.apache.log4j.xml.XLevel"/>
		<param name="AcceptOnMatch" value="true"/>
		</filter>
		-->

	</appender>

    <category name="org.apache.commons">
        <priority value="warn"/>
    </category>

	<category name="org.apache.log4j.xml">
		<priority value="warn"/>
	</category>

	<category name="org.hibernate">
		<priority value="FATAL" />
        <appender-ref ref="STDOUT" />
	</category>

	<root>
		<priority value="ERROR"/>
		<appender-ref ref="STDOUT"/>
	</root>

</log4j:configuration>
